<%- include("header") %>
<html>
  <head>
    <link rel="stylesheet" href="../styles/styles.css" />
    <script text="text/javascript" src="../scripts/scripts.js"></script>
    <title>Signup Page</title>
  </head>
  <body>
    <form action="/process/signup" method="POST" class="joinForm">
                                                                                               
      <h2>회원가입</h2>
      <div class="textForm">
        <input name="username" type="text" class="id" placeholder="아이디">
        </input>
      </div>
      <div class="textForm">
        <input name="password" type="password" class="pw" placeholder="비밀번호">
      </div>
       <div class="textForm">
        <input name="pwdConfirm" type="password" class="pw" placeholder="비밀번호 확인">
      </div>
       <div class="textForm">
        <input name="email" type="text" class="email" placeholder="이메일">
      </div>
      <div class="textForm">
        <input type="radio" name="gender" value="0" id="male" checked> <label for="male">Male</label> 
        <input type="radio" name="gender" value="1" id="female"> <label for="female">Female</label> 
      </div>
      
      <input type="submit" class="btn" value="회원가입"/>
    </form>
  </body>
  
</html>
