<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<title>로그인</title>
<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body></body>
      
    <section class="wrapper style1 align-left">
        <div class="inner medium">
            <h2>LOGIN</h2>
            <form method="post" action="/login">
                <div class="fields">
                    <div class="field">
                        <label for="username">USERNAME</label>
                        <input type="text" name="username" id="username" value="" required>
                    </div>
                    <div class="field">
                        <label for="password">PASSWORD</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                </div>
                <ul class="actions special">
                    <li><input type="submit" name="submit" id="submit" value="LOGIN" required></li>
                </ul>
                <ul class="actions special">
                    <li><a href="/register" class="button">REGISTER</a>
                </ul>
            </form>
        </div>
    </section>
</body>
<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            <li><a href="/"><span class="button">HOME</span></a></li>
        </ul>
        <p>&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </div>
</footer>
</html>