<html> 
    <head>
        <title>Home page</title>
        <script text="text/Javascript" src="/scripts/scripts.js" defer></script>
    </head>
    <body>
        <h2 id="title">This is home page</h2>
        <p>Welcome to my website</p>
    </body>
</html>