<%- include('head') %>
      <section class="section">
        <div class="shell-wide">
          <div class="range range-30 range-xs-center">
            <div class="cell-lg-8 cell-xl-9">
              <!-- Classic slider-->
              <section class="section">
                <!-- Swiper -->
                <div class="swiper-container swiper-slider swiper-style-2" data-loop="false" data-autoplay="5500" data-simulate-touch="false" data-slide-effect="slide" data-direction="vertical">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide" data-slide-bg="images/slide-01.jpg">
                      <div class="swiper-slide-caption">
                        <div class="shell text-sm-left">
                          <h1 data-caption-animate="slideInDown" data-caption-delay="100">Your Ideal Retreat</h1>
                          <div class="slider-subtitle-group">
                            <div class="decoration-line" data-caption-animate="slideInDown" data-caption-delay="400"></div>
                            <h4 data-caption-animate="slideInLeft" data-caption-delay="700">Enjoy the world of relaxation</h4>
                            <h3 data-caption-animate="slideInLeft" data-caption-delay="800">and tranquility!</h3>
                          </div><a class="button button-effect-ujarak button-lg button-white-outline button-square" href="about-us" data-caption-animate="slideInLeft" data-caption-delay="1150"><span>learn more</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide" data-slide-bg="images/slide-02.jpg">
                      <div class="swiper-slide-caption">
                        <div class="shell text-sm-left">
                          <h1 data-caption-animate="slideInDown" data-caption-delay="100">Relax & Unwind</h1>
                          <div class="slider-subtitle-group">
                            <div class="decoration-line" data-caption-animate="slideInDown" data-caption-delay="400"></div>
                            <h4 data-caption-animate="slideInLeft" data-caption-delay="700">Experience the luxurious level</h4>
                            <h3 data-caption-animate="slideInLeft" data-caption-delay="800">of our spa treatments</h3>
                          </div><a class="button button-effect-ujarak button-lg button-white-outline button-square" href="about-us" data-caption-animate="slideInLeft" data-caption-delay="1150"><span>learn more</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide" data-slide-bg="images/slide-03.jpg">
                      <div class="swiper-slide-caption">
                        <div class="shell text-sm-left">
                          <h1 data-caption-animate="slideInDown" data-caption-delay="100">Revitalize & Relax</h1>
                          <div class="slider-subtitle-group"> 
                            <div class="decoration-line" data-caption-animate="slideInDown" data-caption-delay="400"></div>
                            <h4 data-caption-animate="slideInLeft" data-caption-delay="700">Indulge in our top-notch</h4>
                            <h3 data-caption-animate="slideInLeft" data-caption-delay="800">spa resort</h3>
                          </div><a class="button button-effect-ujarak button-lg button-white-outline button-square" href="about-us" data-caption-animate="slideInLeft" data-caption-delay="1150"><span>learn more</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </section>
            </div>
            
          </div>
        </div>
      </section>
      <!-- About us-->
      <section class="section section-md bg-white text-center text-sm-left">
        <div class="shell-wide">
          <div class="range range-50 range-xs-center overflow-hidden">
            
            <div class="cell-sm-10 cell-md-8 cell-lg-5 reveal-flex wow fadeInUp" data-wow-delay=".3s">
              <div class="bg-primary section-wrap-content-var-1">
                <div class="section-wrap-content-var-1-inner">
                  <h2>About Us</h2>
                  <p>Committed to everyone seeking energy and excitement, we offer endless possibilities to unwind and reenergize.</p>
                  <div class="group">
                    <dl class="list-desc">
                      <dt>Weekdays:</dt>
                      <dd><span>8:00–20:00</span></dd>
                    </dl>
                    <dl class="list-desc">
                      <dt>Weekends:</dt>
                      <dd><span>9:00–18:00</span></dd>
                    </dl>
                  </div><!--<a class="button button-effect-ujarak button-lg button-secondary-outline button-square" href="about-us"><span>book now</span></a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<%- include('foot') %>