<%- include('head') %>
<%- include('head2') %>
<br>
<div class="cell-lg-4 cell-xl-3 reveal-lg-flex" >
    <div class="hotel-booking-form">
      <h3>Login</h3>
      <!-- RD Mailform-->
      <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="get" action="process/log-in">
        <div class="range range-sm-bottom spacing-20">
          <div class="cell-lg-6 cell-md-4 cell-xs-6">
            <p class="text-uppercase">ID</p>
            <div class="form-wrap form-wrap-validation">
                <input class="form-input" id="login-id" type="text" name="userid" data-constraints="@Required" maxlength="15">
                <label class="form-label" for="login-id"></label>
            </div>
          </div>
          <div class="cell-lg-6 cell-md-4 cell-xs-6">
            <p class="text-uppercase">PASSWORD</p>
            <div class="form-wrap form-wrap-validation">
                <input class="form-input" id="login-pw" type="password" name="userpw" data-constraints="@Required" maxlength="20">
                <label class="form-label" for="login-pw"></label>
            </div>
          </div>
          <div class="cell-lg-12 cell-md-4">
            <button class="button button-primary button-square button-block button-effect-ujarak" type="submit"><span>Login</span></button>
          </div>
        </div>
      </form>
    </div>
</div>
<br><br>
<%- include('foot') %>