<%- include('head') %>
<%- include('head2') %>
        <section class="section-sm bg-white text-sm-left">
            <div class="shell">
              <div class="range">
                <div class="cell-md-8">
                  <ul class="list-xl">
                    <li>
                      <h3><%= detail %></h3>
                      <button onclick ="location.href='/'">HOME으로 이동</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </section>
<%- include('foot') %>